 <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
    <h2 class="text-center text-primary"> Sign up</h2>
    <hr />

    
    <app-text-input [formControl]="$any(registerForm.controls['username'])"
                    [label]="'username'"></app-text-input>


    <!-- <div class="mb-3">
        <label> who is your fav user</label>
        <select class="form-select">
            <option *ngFor="let user of usersFromHomeComponent" [value]="user.userName">
                {{user.userName}}

            </option>
        </select>
    </div> -->
    <app-text-input [formControl]='$any(registerForm.controls["password"])'
                    [label]='"Password"' [type]='"password"'>
    </app-text-input>
    <app-text-input [formControl]='$any(registerForm.controls["confirmPassword"])'
                    [label]='"Confirm Password"'
                    [type]='"password"'></app-text-input>
    <div class="text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
    </div>
</form>

<P>registerForm : {{registerForm}}</P>
<p>the form value: {{registerForm.value | json}}</p>
<p>the form status: {{registerForm.status | json}}</p>
 

